@use '../abstracts' as *;

%container {
  width: 100%;

  @include sm {
    max-width: $sm;
  }

  @include md {
    max-width: $md;
  }

  @include lg {
    max-width: $lg;
  }

  @include xl {
    max-width: $xl;
  }
}
