@use '../abstracts' as *;
@use '../utilities' as *;

.modify-room {
  @extend %container;

  min-height: calc(100vh - #{$header-height});
  margin-inline: auto;
  padding: $header-padding;

  &__header {
    h1 {
      display: inline-block;
    }

    h1:nth-child(2) {
      color: $primary;
      margin: 0 0.5rem;
    }
  }

  @include md {
    .table {
      width: 60%;
    }
  }

  &__action {
    text-align: center !important;
  }

  &__cta {
    display: flex;
    justify-content: center;

    a {
      margin-right: 0.1rem;
    }

    button {
      margin-left: 0.1rem;
      cursor: pointer;
    }
  }

  &__form {
    border-width: 1px;
    border-color: $lightgray;
    border-style: solid;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
  }

  &__label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  &__input,
  &__select {
    display: block;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    min-width: 20vw;
    border-width: 1px;
    border-color: darken($lightgray, 10);
    border-style: solid;
    outline: none;
    transition: border-color 250ms ease-in-out;

    &:focus {
      border-color: $primary;
    }
  }

  &__checkbox {
    &-label {
      display: block;
      margin-bottom: 0.4rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: end;
    align-items: center;

    * {
      margin-right: 0.25rem;
    }
  }

  &__error {
    color: $red;
  }

  &__success {
    color: $primary;
  }
}
