@use '../abstracts' as *;
@use '../utilities' as *;

.room-type {
  @extend %container;

  min-height: calc(100vh - #{$header-height});
  margin-inline: auto;
  padding: $header-padding;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include md {
    .table {
      width: 60%;
    }
  }

  &__action {
    text-align: center !important;
  }

  &__cta {
    display: flex;
    justify-content: center;

    a {
      margin-right: 0.1rem;
    }

    button {
      margin-left: 0.1rem;
    }
  }

  &__error {
    color: $red;
  }
}
