@use '../abstracts' as *;

.button {
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  font-weight: 700;
  border: 0;
  transition: background-color 250ms ease-in-out;

  &--primary {
    @extend .button;
    background-color: $primary;
    color: white;

    &:hover {
      background-color: lighten($primary, 5%);
    }
  }

  &--secondary {
    @extend .button;
    color: $primary;

    &:hover {
      color: lighten($primary, 5%);
    }
  }
}
