.table {
  width: 100%;
  border-color: hsl(216, 12%, 84%);
  border-collapse: collapse;

  > thead {
    background-color: hsl(220, 13%, 91%);

    > tr {
      > th {
        text-align: start;
        padding: 0.5rem 0;
      }

      > th:first-child,
      > th:nth-child(7) {
        text-align: center;
      }
    }
  }

  > tbody {
    > tr {
      > th,
      > td {
        height: 2.5rem;
      }

      > td:nth-child(7) {
        text-align: center;
      }
    }
  }
}
